<div id="drawer" class="sideMenu">
  <div class="sideMenu-heading">Categories</div>
  <button class="collapsible">Category 1</button>
  <div class="content">
    <ul class="contentlist">
      <li>
        <a href="/frontend/pages/catalog.html">
          <span>Example 1</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Example 2</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Example 3</span>
        </a>
      </li>
    </ul>
  </div>
  <button class="collapsible">Category 2</button>
  <div class="content">
    <ul class="contentlist">
      <li>
        <a href="#">
          <span>Example 1</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Example 2</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Example 3</span>
        </a>
      </li>
    </ul>
  </div>
</div>
