<div id="drawer" class="sideMenu">
  <div class="sideMenu-heading">Categories</div>
  <button class="collapsible">Category 1</button>
  <div class="content">
    <ul class="contentlist">
      <li>
        <a
          href="/frontend/pages/catalog.html?category=category-1&brand=brand-1"
        >
          <span>Brand 1</span>
        </a>
      </li>
      <li>
        <a
          href="/frontend/pages/catalog.html?category=category-1&brand=brand-2"
        >
          <span>Brand 2</span>
        </a>
      </li>
      <li>
        <a
          href="/frontend/pages/catalog.html?category=category-1&brand=brand-3"
        >
          <span>Brand 3</span>
        </a>
      </li>
    </ul>
  </div>
  <button class="collapsible">Category 2</button>
  <div class="content">
    <ul class="contentlist">
      <li>
        <a
          href="/frontend/pages/catalog.html?category=category-2&productType=product-type-1"
        >
          <span>Product Type 1</span>
        </a>
      </li>
      <li>
        <a
          href="/frontend/pages/catalog.html?category=category-2&productType=product-type-2"
        >
          <span>Product Type 2</span>
        </a>
      </li>
      <li>
        <a
          href="/frontend/pages/catalog.html?category=category-2&productType=product-type-3"
        >
          <span>Product Type 3</span>
        </a>
      </li>
    </ul>
  </div>
</div>
